{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros.html' import  render_todo %}

{% block title %}Private Area{% endblock %}

{% block content %}

  {% if todos | length > 0 %}
  <h3>My Tasks</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Task</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for task in todos %}
        {{ render_todo(task, loop.index) }}
      {% else %}
        <tr>
          <td colspan="3" class="text-muted text-center"><em>No Tasks yet</em></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />
  {% endif %}

  <h3>Add New Task</h3>

  {{ render_form(task_form) }}
{% endblock %}